@using Raydelis_HilarioAP1_P1.Models
<h3>Edit</h3>
@* <EditForm Model="@viajeEspacial" OnValidSubmit="Editar">
    <DataAnnotationsValidator />

</EditForm> *@



@code {
    ViajesEspaciales viajeEspacial = new();
}
