@page "/"
@using Raydelis_HilarioAP1_P1.Extensors
@inject ToastService toastService
@inject NavigationManager navigationManager


<PageTitle>Raydelis_HilarioAP1_P1</PageTitle>

<h1>Raydelis Hilario <b>(2023-0749)</b></h1>
Primer parcial programaci&oacute;n aplicada 1


@code{
    private async Task MostrarMensaje()
    {
        toastService.ShowSuccess("Presionado correctamente");
    }
}