@page "/Index"
@using Raydelis_HilarioAP1_P1.Models

<div>
    @* boton buscar *@
    <button class="btn btn-outline-primary bi bi-search me-2" @* @onclick="" *@></button>
    @* boton create *@
    <a href="/Estudiantes/Index/Create" class="btn btn-primary">
        <span class="bi bi-plus-square mt-3"></span>
    </a>
    @* boton edit *@
    <a href="@* @($" /Estudiantes/Index/Edit/{ViajesEspaciales.ViajeId}") *@" class="btn btn-sm btn-outline-primary">
        <span class="bi bi-pencil-square"></span>
    </a>
</div>

@code {
}
